<!--The content below is only a placeholder and can be replaced.-->
<h2 style="margin-left: 50px;">Robot Arm Monitoring</h2>
  
<p style="margin-left: 100px;">Check the status of actuators and other elements.<br>
Application provided by CETYS University. </p>

<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Stats</a> 
  <a href="#"><i class="fa fa-fw fa-user"></i> About</a>
</div>

<p style="margin-left: 50px;">Power status:</p>

<p id="demo"></p>

ESTA.............. 
<button class="{{color1}}"></button>
<button class="{{color2}}"></button>
<p> Counter: <input type="text" id="variable"><button (click)="convertir()">Convertir</button></p>

<!-- NO BORRES ESTA MADRE DE ABAJO  -->
<router-outlet></router-outlet>
